/* Texto general utilizado en todo el documento */
*{
	font-family: 'Courier New', monospace;
}

/* Titulo Princpal */
h1 {
	font-size				: 60px;
	color						: #ffffff;
	background-color: #000000;
	margin-top			: 10px;
	margin-bottom		: 0px;
	padding-left		: 20px;
}
h1 span{
	color: cyan;
}

/* Titulo secundario */
h2{
	font-size				: 30px;
	text-align			: center;
	background-color: rebeccapurple;
	color						: #ffffff;
	margin-top			: 10px;
	margin-bottom		: 0px;
	padding-top			: 10px;
	padding-bottom	: 10px;
}

/* Titulo contacto */
h3 {
	font-size				: 20px;
	text-align			: right;
	background-color: cyan;
	margin-top			: 10px;
	padding-top			: 10px;
	padding-bottom	: 10px;
	padding-right		: 20px;
}