.container {
	width						: 720px;
	height					: 270px;
	background-color: silver;
}
.col {
	width						: 220px;
	padding					: 10px;
	background-color: blanchedalmond;
	display					: inline-block;
}

/* Contenedor utilizando Flex */
.containerFlex{
	width						: 720px;
	height					: 270px;
	background-color: silver;
	display					: flex;
	align-items: center;
}
.colFlex{
	width						: 220px;
	padding					: 10px;
	background-color: blanchedalmond;
}